<h3>Students on track so far this Mod:</h3>
  <% @current_mod.mod_winners.each do |winner| %>
  <%= winner %><br>
  <% end %><br>
  <b><%= button_to "Past Mod Winners", mods_path, class: "btn btn-custom", method: :get%></b><br>
<hr>
