<b><%= link_to "Past Mod Winners", mods_path %></b><br>
<h3>The students below have achieved all goals every week this Mod so far:</h3>
  <% @current_mod.mod_winners.each do |winner| %>
  <%= winner %><br>
  <% end %>
<hr>
