<div class="top-row-links">
  <hr>
  <ul class="links-left">
    <%= link_to "Turing Totals", goals_path %> &nbsp;
    <%= link_to "Back to my goals", user_goals_path %>
  </ul>
  <hr>
</div>



<%= link_to "Set Weeks", new_admin_week_path %>
LINK TO SET WEEKS <br>

LINK TO SEE THIS WEEK'S USERS W/ 100% goal achievement <br>

LINK TO SEE THIS MOD'S USERS W/ 100% goal achievement <br>
