@import "bootstrap-sprockets";
@import "bootstrap";

h1, h2, h3,h4, h5, h6, p, a {
  font-family: 'Roboto Condensed', sans-serif;
}

/*"WELLNESS TRACKER"*/
h1 {
  color: #5b5f66;
  font-size: 30px;
  font-weight: 700;
  text-tranform: uppercase;
}

/*"WEEK #"*/
h2 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}

/*Goal description*/
h3 {
  font-size: 24px;
}

/*Day of the week display and Goal frequency display*/
h4 {
  font-size: 16px;
}


/*USER LANDING PAGE; WEEKLY GOAL LIST*/
nav {
  box-sizing: border-box;
  background-color: #05C2D1;
  font-size: 40px;
}

.login{
  background-color: #e1e3e8;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 75px;
}

details {
  // padding-left: 15px;
  color: white;
  font-size: 14px;
  padding-right: 15px;
  padding-top: 65px;
  float: right;
}

details a{
  color: #05C2D1;
}

// summary::-webkit-details-marker {
//   display: none
// }
// .admin-link{
//   padding-top: 10px;
//   background-color: #05C2D1;
//   font-size: 14px;
//   color: white;
//   padding-left: 15px;
// }

// .admin-link a{
//   color: white;
// }
//
// .logout{
//   font-size: 14px;
//   // color: white;
//   // float: right;
//   // padding-right: 15px;
//   // padding-top: 55px;
//   // color: white;
// }
//
// .logout a{
//   color: white;
// }

.app-title{
  color: white;
}

.icons{
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin-top: 15px;
}

.goal-title-icon{
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  vertical-align: text-bottom;
}

.top-row-links{
  color: #05C2D1;
  font-size: 14px;
}


.field{
  padding: 10px;
}

span{
  // padding-left: 390px;
  align-content: right;
  float: right;
}

.form{
  padding-right: 100px;
}

/*USER GOALS SECTION*/
.user-goals {
  width: 95%;
}

/*WEEK/DATE DISPLAY*/
.week-date-display {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  // float: right;
}

/*GOALS*/
/*FIRST ROW*/
.goal-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goal-second-row{
  display: flex;
  justify-content: right;
  // align-items: center;
}

ul{
  // list-style-image: image-url("checkmark.png");
  // list-style-image: url(asset-path('chcekmark.png'));
  // list-style: square inside url(asset-path("checkmark.png"));
  // width: 20px;
}

li{
  padding-bottom: 10px;
}

.user-info{
  float: left;
}

.total-progress-bar{
  padding: 20px;
}

.actions{
  padding-left: 60px;
  padding-top: 15px;
}

.back{
  padding-top: 20px;
  padding-bottom: 20px;
}

.see-more {
  width: 35px;
}

.btn-custom {
    background: #05C2D1;
    color: white;
}
